@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.desktop-text-box-about {
  @include tablet {
    &__main {
      margin-left: 1.5rem;
      margin-top: 2.5rem;
      max-height: 20rem;
      padding: 2.5rem;
      position: fixed;
      bottom: 2.5rem;
      width: 65%;
      background-color: $primary-background2;
      color: $primary-font3;
      font-family: FiraCode-Medium;
      border-radius: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      animation-name: about-main;
      animation-duration: 0.3s;
      animation-delay: 0.2s;
      animation-fill-mode: both;
    }
  }

  @include desktop {
    &__main {
      margin-left: 2.5rem;
      max-height: 25rem;
      width: 60%;
    }
  }

  @keyframes about-main {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__text {
    padding-bottom: 1rem;
    color: $primary-font3;
  }

  &__text-link {
    display: block;
    padding-bottom: 1rem;
    color: $primary-font3;
    cursor: pointer;
    width: max-content;
  }

  &__text-link:hover {
    color: $primary-hover2;
  }
}
