@font-face {
  font-family: "Raleway-Black";
  src: url("../../assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode-Medium";
  src: url("../../assets/fonts/FiraCode-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode-Bold";
  src: url("../../assets/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
