$primary1: #a7dfff;
$primary-font1: white;
$primary-font2: #70ffd4;
$primary-font3: black;
$primary-hover: #fffdc3;
$primary-hover2: #ffc9e3;
$primary-hover2-light: #fcddec;

$primary-background2: white;
