@use "../../styles/partials/mixins" as *;

.navigation {
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
  position: fixed;
  bottom: 5px;
  right: 5px;

  &__about {
    font-size: 4.95rem;
  }

  &__about:hover {
    @include hover;
  }

  &__caret1 {
    @include caret;
    line-height: 1.2rem;
  }

  &__projects {
    font-size: 3.4rem;
    line-height: 3rem;
  }

  &__projects:hover {
    @include hover;
  }

  &__caret2 {
    @include caret;
    line-height: 3rem;
  }

  &__education {
    font-size: 3rem;
    line-height: 0.9rem;
  }

  &__education:hover {
    @include hover;
  }

  &__caret3 {
    @include caret;
    line-height: 4.6rem;
  }

  &__experience {
    font-size: 2.8rem;
    line-height: 0rem;
  }

  &__experience:hover {
    @include hover;
  }

  &__caret4 {
    @include caret;
    line-height: 5.6rem;
  }
}
