@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  text-align: center;
  padding-top: 3rem;

  @include tablet {
    padding-left: 2.5rem;
    width: max-content;
  }

  &__logo--active:hover {
    color: pink;
  }

  &__logo:hover {
    @include hover;
  }

  &__leta {
    font-size: 7.1rem;
    line-height: 5.3rem;
    margin-left: -0.3rem;
  }

  &__krahen {
    font-size: 2.52rem;
  }

  &__caret {
    @include caret;
    line-height: 2rem;
  }
}
