@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.desktop-text-box-new {
  &__main {
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    max-height: 25rem;
    position: fixed;
    bottom: 2.5rem;
    width: 60%;
    background-color: $primary1-background-lighter;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    animation-name: about-main;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  @keyframes about-main {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__section {
    margin: 2.1rem 1rem 2rem 2rem;
    padding: 2rem;
    background-color: $primary-background2;
    color: $primary-font3;
    font-family: FiraCode-Medium;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__header {
    font-size: 1rem;
    line-height: 2rem;
  }

  &__subheader {
    font-size: 0.8rem;
    &--bottom {
      margin-bottom: 1rem;
    }
  }

  &__list {
    margin-bottom: 1rem;
    text-align: left;
  }
  &__list-item {
    margin-bottom: 0.5rem;
  }

  &__text {
    padding-bottom: 1rem;
    color: $primary-font3;
  }

  &__text-link {
    display: block;
    padding-bottom: 1rem;
    color: $primary-font3;
    cursor: pointer;
    width: max-content;
  }

  &__text-link:hover {
    color: $primary-hover2;
  }
}
